# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env/
.env
__pycache__/
*.py[cod]


# IDE files
.vscode/
.idea/
*.swp

# Logs and temp files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db
